name: compile

on: [push]

jobs:
  build-test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v2

      - name: Generate PDF Document
        uses: xu-cheng/latex-action@v2
        with:
          root_file: "*.tex"
          latexmk_shell_escape: true
          post_compile: "latexmk -c"

      - name: Upload PDF File to Repo
        uses: mikeal/publish-to-github-action@master
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
